<div class="media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to (post.title), [post.topic, post] %>

      <% if post.image? %>
        <div class="topic-image-indent"> <%= link_to (image_tag(post.image.thumb.url)), [post.topic, post] %> </div>
      <% end %>

    </h4>
      <small>
        <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
        <i class="num-posts"><%= pluralize(post.comments.count, 'Comment') %> </i>
      </small>
  </div>
</div>